<%= render "shared/error_messages", :target => @assignment %>
<style>
  button{
    font-size: 14pt;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:10px;
    right:30px;

  }
</style>
<button onclick="goBack()">Go Back</button>
<script>
function goBack() {
    window.history.back();
}
</script>

<%= form_for @assignment, url: new_assignment_url(@course), method: :post do |f| %>
  <%= f.text_field :name, :placeholder => 'Assignment Name' %><br>
  <%= f.number_field :total_grade, :class => 'text_field', :step => 0.5, :placeholder => 'Points Possible' %><br>
  <%= f.text_area :description, :placeholder => 'Assignment Description' %><br>
  <%= f.label "Assignment Available Date: " %>
  <span datetimepicker-start-date><%= :start_date %></span>
  <div class="datetime-picker-container"><%= f.text_field :start_date %></div><br>
  <%= f.label "Assignment Due Date: " %>
  <span datetimepicker-end-date><%= :due_date %></span>
  <div class="datetime-picker-container"><%= f.text_field :due_date %></div><br>
  <%= f.submit "Create" %>
<% end %>

<script>
  $(document).on("ready", function() {
    $('#assignment_start_date').datetimepicker({format: 'unixtime', inline: true, value: Math.floor(new Date().getTime())});
    $('#assignment_due_date').datetimepicker({format: 'unixtime', inline: true, value: Math.floor(new Date().getTime()) + 604800});
  });
</script>

