<%= render "shared/error_messages", :target => @assignment %>

<style>
  button{
    font-size: 14pt;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:10px;
    right:30px;

  }
</style>
<button onclick="goBack()">Go Back</button>
<script>
function goBack() {
    window.history.back();
}
</script>
<%= form_for @assignment, url: assignment_url(@assignment), method: :patch do |f| %>
  <%= f.text_field :name, :placeholder => 'Assignment Name' %><br>
  <%= f.number_field :total_grade, :class => 'text_field', :step => 0.5, :placeholder => 'Points Possible' %><br>
  <%= f.text_area :description, :placeholder => 'Assignment Description' %><br>
  <%= f.label "Assignment Available Date: " %>
  <span datetimepicker-start-date><%= @assignment.start_date.to_time.to_i %></span>
  <div class="datetime-picker-container"><%= f.text_field :start_date %></div><br>
  <%= f.label "Assignment Due Date: " %>
  <span datetimepicker-end-date><%= @assignment.due_date.to_time.to_i %></span>
  <div class="datetime-picker-container"><%= f.text_field :due_date %></div><br>
  <%= f.submit "Save" %>
<% end %>
