<tr>
  <td><%= comment.line %></td>
  <td>
    <a href="#" onclick="editor.focus(); editor.scrollToLine(<%= comment.line %>, true); editor.gotoLine(<%= comment.line %>, 10, true);" title="<%= comment.contents %>">
      <%= truncate(comment.contents, length: 45) %>
    </a>
  </td>
  <td><%= link_to 'Delete', comment, method: :delete, remote: true, data: { confirm: "Are You Sure?" } %></td>
</tr>
