<% breadcrumb :user_edit, @user %>
<% content_for :title, "Account Edit" %>

<header>
  <h1>Editing User</h1>
  <h2><%= @user.name %></h2>
</header>

<div class="content-group">
  <%= form_for :user, url: user_path(@user), method: :patch do |f| %>
    <%= render "shared/error_messages", :target => @user %>

    <%= f.label :email %><br>
    <%= f.text_field :email %><br><br>

    <%= f.label :name %><br>
    <%= f.text_field :name %><br><br>

    <%= f.label :roles %><br>
    <table>
    <% User::ROLES.each do |role| %>
      <tr>
        <td><%= f.check_box(:roles,
        { :multiple => true,
          :checked => (@user.has_role? role)
        },
        role, nil)
      %></td>
      <td><%= f.label role %></td></tr>
    <% end %>
    </table>
   
    <br>
    <%= f.submit %>
  <% end %>
</div>

<div class="content-group">
  <h2>Password</h2>
  <div class="settings-container">
    <%= form_for :user, url: user_path(@user), method: :patch do |f| %>
      <%= f.password_field :old_password, :placeholder => 'old password' %><br><br>
      <%= f.password_field :password, :placeholder => 'password' %><br>
      <%= f.password_field :password_confirmation, :placeholder => 'confirm' %><br>
      <%= f.submit "Change" %>
    <% end %>
  </div>
</div>
