<% breadcrumb :user_settings, @user %>
<% content_for :title, "Account Edit" %>

<%= render "shared/error_messages", :target => @user %>

<header>
  <h1>Account Information</h1>
</header>
<div class="content-group">
  <div class="settings-container">
    <%= form_for :user, url: setting_path, method: :patch do |f| %>
      <% editable = current_user.has_role? :admin %>
      <%= f.label :netid %>
      <%= f.text_field :netid, :disabled => editable == false %><br><br>

      <%= f.label :email %>
      <%= f.text_field :email, :disabled => editable %><br><br>

      <%= f.label :first_name %>
      <%= f.text_field :first_name, :disabled => editable == false %><br><br>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, :disabled => editable == false %><br><br>

      <% if current_user.has_role? :admin %>
        <table>
          <th colspan=2>Roles</th>
          <% User::ROLES.each do |role| %>
          <tr>
            <td><%= f.check_box(:roles,
            { :multiple => true,
              :checked => (@user.has_role? role)
            },
            role, nil)
          %></td>
          <td><%= role %></td></tr>
        <% end %>
        </table>
      <% end %>
     
      <br>
      <% if editable %>
        <%= f.submit %>
      <% else %>
        <h2>If there is an issue with any setting please inform your instructor.</h2>
      <% end %>
    <% end %>    
  </div>
</div>
