<% content_for :title, "Display User" %>

<header>
  <h1>Displaying User</h1>
  <h2><%= @user.name %></h2>
</header>

<div class="content-group">
  <p>
  <b>Name:</b>
  <%=h @user.name %>
  </p>

  <p>
  <b>Email:</b>
  <%=h @user.email %>
  </p>

  <p>
  <b>Login count:</b>
  <%=h @user.login_count %>
  </p>

  <p>
  <b>Last request at:</b>
  <%=h @user.last_request_at %>
  </p>

  <p>
  <b>Last login at:</b>
  <%=h @user.last_login_at %>
  </p>

  <p>
  <b>Current login at:</b>
  <%=h @user.current_login_at %>
  </p>

  <p>
  <b>Last login ip:</b>
  <%=h @user.last_login_ip %>
  </p>

  <p>
  <b>Current login ip:</b>
  <%=h @user.current_login_ip %>
  </p>

  <p>
    <b>Roles:</b><br>
    <% @user.roles.each do |role| %>
      <%= role.name %>&nbsp;<%= role.resource_type %>&nbsp;<%= role.resource_id %><br>
    <% end %>
  </p>

  <br>
  <%= link_to 'Edit Account', edit_user_path(@user) %>
</div>
