<% breadcrumb :course, @course %>
<% content_for :title, "Modify Enrolled User" %>
<style>
  button{
    font-size: 14pt;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:10px;
    right:30px;

  }
</style>
<button onclick="goBack()">Go Back</button>
<script>
function goBack() {
    window.history.back();
}
</script>
<header>
  <h1><%= @course.name %></h1>
  <h2>Editing user <%= @user.first_name %> <%= @user.last_name %></h2>
</header>
<div class="content-group">
  <%= render "shared/error_messages", :target => @user %>
  <%= form_for @user, url: course_user_edit_path(@course, @user), method: :patch do |f| %>
    <table>
      <thead>
        <tr>
          <td></td>
          <td><b>Roles</b></td>
        </tr>
      </thead>
      <tbody>
        <% User::ROLES.each do |role| %>
          <% if role != "admin" %>
            <tr>
              <td>
                <%= f.check_box(:roles,
                  { :multiple => true,
                    :checked => (@user.has_local_role? role, @course)
                  },
                  role, nil)
                %>
              </td>
              <td><%= f.label role %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
   
    <%= f.submit "Update & Return" %>
  <% end %>
</div>

