<% breadcrumb :course_users, @course %>
<% content_for :title, "Course Users" %>
<style>
  button{
    font-size: 14pt;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:10px;
    right:30px;

  }
</style>
<button onclick="goBack()">Go Back</button>

<header>
  <h1><%= @course.name %></h1>
  <h2>Enrolled Users</h2>
</header>
<div class="content-group">
  <table class="users-list" id="users-list">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Roles</th>
      <th>Remove From Course</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.first_name, course_user_edit_path(@course, user) %></td>
        <td><%= link_to user.last_name, course_user_edit_path(@course, user) %></td>
        <td><%= link_to user.email, course_user_edit_path(@course, user) %></td>
        <td><%= user.roles.where(resource_type: "Course", resource_id: @course).map(&:name).join(",") %></td>
        <td><%= link_to 'Remove', course_user_kick_path(@course, user), data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>
  $(document).on("page:change", function() {
    $('#users-list').tablesorter({
      sortList: [[1,0],[0,0]],
      headers: {
        3: { sorter: false }
      }
    });
  });
</script>
<script>
function goBack() {
    window.history.back();
}
</script>