<% breadcrumb :course_grades, @course %>
<% content_for :title, 'All Grades for ' + @course.name %>
<style>
  button{
    font-size: 14pt;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:10px;
    right:30px;

  }
</style>
<button onclick="goBack()">Go Back</button>
<script>
function goBack() {
    window.history.back();
}
</script>
<header>
  <h1>All Grades for <%= @course.name %></h1>
</header>
<div class="content-group">
  <div class="actions">
    <ul>
      <li>
        <%= link_to course_all_grades_url(@course), method: :post do %>
          <div>
            <%= image_tag('icon_download.png', size: "64x64", alt: "Download All Grades", title: "Download All Grades") %><br>
            Download All Grades
          </div>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="course-grade-list">
    <table>
      <tr>
        <th>Student Name</th>
        <% @course.assignments.each do |assignment| %>
          <th><%= assignment.name %></th>
        <% end %>
      </tr>
      <% @course.users.each do |user| %>
        <% if not user.has_local_role? :grader, @course %>
          <tr>
            <td><%= user.netid %></td>
            <% @course.assignments.each do |assignment| %>
              <% submission = assignment.submissions.select { |s| s.user == user } %>
              <% if submission.first %>
                <td><%= submission.first.grade %></td>
              <% else %>
                <td>None</td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>

